h1{
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

hr{
    border-bottom: black double 2px;
}

body{
    background-color: silver;
}

p{
    text-align: center;
}

.img_pong{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    zoom: 1.1;
}
