{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/pong.css">
    <title>Matching...</title>   
    <script src='http://cdn.rawgit.com/phi-jp/phina.js/v0.2.0/build/phina.js'></script>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
</head>
<body>
    <div id="matching_form">
        <h1>マッチング中です... </h1>
        <hr>
        <div class="players">
            <h3>プレイヤー1: <span id="Player0">{{ RoomDB.Player0 }}</span></h3>
            <h3>プレイヤー2: <span id="Player1">{{ RoomDB.Player1 }}</span></h3>
            <h3>プレイヤー3: <span id="Player2">{{ RoomDB.Player2 }}</span></h3>
            <h3>プレイヤー4: <span id="Player3">{{ RoomDB.Player3 }}</span></h3>
        </div>
            <p><a href="{% url 'mypage' %}" class="btn btn-success btn-lg">戻る</a></p>
            <p><a href="{% url 'logout' %}" class="btn btn-danger btn-lg">logout</a></p>
    </div>
    <!--以下は絶対に真似してはいけないコード-->
    <script type="application/json" id="data_json"></script>
</body>
<script>
    var Websocket_url = String("{{ RoomDB.room_url }}");
    var username = String("{{ username }}");
    var role = String("{{ player_role }}");
    var MatchingSocket = new WebSocket(
        'ws://'+ window.location.host + '/ws/matching/' + Websocket_url + '/' + username );
    // もし切断した時
    MatchingSocket.onclose = function(e) {
        console.error('Websocket closed unexpectedly');
    };
    // websocketからメッセージを受信した時
    MatchingSocket.onmessage = function(e){
        var raw_data = JSON.parse(e.data)["message"];
        var message = raw_data["message"];
        switch (raw_data["type"]) {
            case "connect_message":
                document.getElementById(message["player_num"]).textContent = message["player_name"];       
                break;
            case "play_game":
                // matchingの表示を消えた様に見せる（消えてない）
                document.getElementById("matching_form").style.visibility = "hidden";
                // main.jsで使用するデータの受け渡し
                var data_tomain = {
                    "username": username,
                    "player_role":role,
                    "socket": MatchingSocket,
                    "RoomDB": message["DB"],
                }
                document.getElementById("data_json").textContent = JSON.stringify(data_tomain);
                // SCRIPTタグの生成
                var el = document.createElement("script");
                // SCRIPTタグのSRC属性に読み込みたいファイルを指定
                el.src = "{% static 'js/main.js' %}";
                // 最後に追加
                document.body.appendChild(el);
                break;
            case "disconnect_message":
                document.getElementById(message["disconnected_player"]).textContent = "";
                break;
            default:
                break;
        }
    }
</script>
</html>
