<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/mypage.css">
    <title>Mypage</title>
</head>
<body>
    <h1>Iniad-Pong-Game</h1>
    <hr>
    <p><a href="{% url 'routing_desk' %}" class="btn btn-primary btn-lg">マッチング</a></p>
    <p><a href="{% url 'resetDB' 'all' %}">debug:all</a></p>
    <div class="img_pong">
    <img src="../../static/img/Pong.png" alt="Iniad-Pong-Game">
    </div>
</body>
</html>
