.errorlist {
    margin: 0;
    color: red;
    margin-left: 100px;
    font-size: 25px;
    list-style-type: none;
    font-weight: bold;
    padding-left: 100px;
}

li{
    margin: 0;
    margin-left: 100px;
    font-weight: bold;
    padding-left: 10px;
}

h1{
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

hr{
    border-bottom: black double 2px;
}

h3{
    margin-left: 20px;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

p{
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    padding-left: 100px;
}

body{
    background-color: silver;
}
