h1{
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

hr{
    border-bottom: black double 2px;
}

h3{
    margin-left: 20px;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

span{
    margin-left: 20px;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

body{
    background-color: silver;
}

p{
    text-align: center;
}
