<!DOCTYPE html>
<html lang="ja">
    <head><meta charset="utf-8"></head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/accounts.css">
    <title>Login</title>
    <body>
    <h1>ログイン</h1>
    <hr>
    <h3>あらかじめ登録したユーザー名とパスワードを入力してください。</h3>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" class="btn btn-info btn-lg" value="ログイン" /></p>
    </form>

    <p><a href="{% url 'mypage' %}" class="btn btn-success btn-lg">戻る</a></p>
    <p><a href="{% url 'signup' %}" class="btn btn-warning btn-lg">ユーザー登録</a></p>
    </body>
</html>
