<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>サインアップ</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/css/accounts.css">
    </head>
    <body>
        <h1>ユーザー登録</h1>
        <hr>
        <form method="POST">            
            {% csrf_token %}
            {{ form.as_p }}
            <h3>登録が成功するとログインページに移動します。そちらで登録したユーザー名とパスワードを入力してください。</h3>
            <p><button type = "submit" class="btn btn-warning btn-lg">ユーザー登録</button></p>
            <p><a href="{% url 'login' %}" class="btn btn-success btn-lg">戻る</a></p>
        </form>
    </body>
</html>
